* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-navbar {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 15px;
  column-gap: 10px;
  row-gap: 10px;
}

.signup-btn {
  text-decoration: none;
  border: 2px solid #a4fb7b;
  border-radius: 8px;
  background-color: white;
  color: #a4fb7b;
  padding: 10px 40px;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}

.signup-btn:hover {
  font-weight: bolder;
  color: white;
  border: none;
  background-color: dodgerblue;
}

.signup-btn:active {
  font-weight: bolder;
  color: white;
  border: none;
  background-color: mediumseagreen;
}

.main-navbar {
  font-size: 23px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  background: linear-gradient(90.56deg, #242573 -24.82%, #a4fb7b 97.49%);
}

.main-container {
  height: 90vh;
  width: 100%;
  display: grid;
  background-color: brown;
}

.nested-navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  row-gap: 10px;
  column-gap: 30px;
  padding-right: 50px;
}

.nested-navbar li {
  list-style-type: none;
}

.nested-navbar li a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.logo {
  text-transform: uppercase;
  font-weight: 900;
  color: white;
}

.logo_color {
  color: #a4fb7b;
}
