* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-navbar {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 106px;
  column-gap: 10px;
  row-gap: 10px;
}

.signup-btn {
  text-decoration: none;
  border: 2px solid #a4fb7b;
  border-radius: 8px;
  background-color: white;
  color: #a4fb7b;
  padding: 4px 30px;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}

.signup-btn:hover {
  font-weight: bolder;
  color: white;
  border: none;
  background-color: dodgerblue;
}

.signup-btn:active {
  font-weight: bolder;
  color: white;
  border: none;
  background-color: mediumseagreen;
}

.main-navbar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px 103px;
  z-index: 1;
  position: sticky;
  top: 0;
  background: linear-gradient(90.56deg, #242573 -24.82%, #a4fb7b 97.49%);
}

.nested-navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  row-gap: 10px;
  column-gap: 30px;
}

.nested-navbar li {
  list-style-type: none;
}

.nested-navbar li a {
  text-decoration: none;
  color: white;
  font-weight: 900;
  transition: text-decoration 3s ease-in;
}

.nested-navbar li a:hover {
  font-size: 18px;
  font-weight: 900;
  text-decoration: underline;
}

.logo {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
}

.logo_color {
  color: #a4fb7b;
}

.add-btn {
  background-color: #242573;
  color: white;
  font-weight: 400;
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
}

.add-btn:hover {
  text-decoration: none;
  background-color: dodgerblue;
}

/* Section 3 */

.main-container {
  background-color: white;
  padding: 30px 100px;
}

.main-content {
  width: 100%;
  padding: 20px;
  background-color: #e7e7e7;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}

.search_bar_content {
  grid-column: 1/4;
}

.search-bar {
  text-align: start;
  width: 50%;
}

.search-btn {
  background-color: #242573;
  border: none;
  border-radius: 8px;
  padding: 5px;
  color: white;
}
.search-btn:hover {
  background-color: dodgerblue;
}

.center_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1/4;
  text-transform: capitalize;
  color: #242573;
  font-weight: bold;
  row-gap: 12px;
}

.content_first {
  display: grid;
  padding: 0 30px;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
}

.bottem_content {
  display: grid;
  grid-column: 1/4;
  padding: 20px;
  background-color: white;
  row-gap: 10px;
}

.img_heading_section {
  display: flex;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
}

.mypic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.heading {
  font-size: 30px;
  font-weight: 900;
  text-transform: capitalize;
  color: #a4fb7b;
}

.heading_color {
  font-size: 23px;
  font-weight: bold;
  clear: left;
  color: #242573;
}

.paragraph_section {
  display: grid;
  row-gap: 10px;
}
